
#arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	margin: 150px 550px;
	border-left: 60px solid black;
}

#arrow-left {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	margin: -150px 550px;
	border-right:60px solid black; 
}